/* ---- Global Styling ---- */
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #9034f3, #81acf7);
    color: #faf8f8;
}

/* ---- Fixed Header ---- */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(10, 196, 221, 0.4);
    backdrop-filter: blur(10px);
    padding: 18px 0;
    color: rgb(247, 245, 144);
    text-align: center;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.logo {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 12px 0 0;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #fffdfd;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ffde59;
    transform: scale(1.1);
}

/* ---- Sections ---- */
.section {
    padding: 150px 20px 80px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* ---- Home Section ---- */
.home {
    background: rgba(255,255,255,0.15);
    border-radius: 20px;
    padding-bottom: 50px;
    width: 80%;
    margin: auto;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

.photo-box {
    width: 200px;
    height: 250px;
    object-fit: scale-down;
    margin: 0px;
    border: 1px dashed #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: rgba(186, 42, 42, 0.3);
    font-weight: bold;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);

}
.photo-box img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    justify-content: center;
    align-items: center;
    
}
/* ---- About Section ---- */
.about p {
    font-size: 20px;
    max-width: 700px;
    margin: auto;
    line-height: 1.7;
}

/* ---- Skills Section ---- */
.skills-list {
    list-style: none;
    padding: 0;
    max-width: 350px;
    margin: auto;
}

.skills-list li {
    background: #ffde59;
    margin: 12px 0;
    padding: 14px;
    border-radius: 12px;
    font-weight: bold;
    color: #090909;
    font-size: 18px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    transition: 0.3s;
}

.skills-list li:hover {
    transform: scale(1.07);
}

/* ---- Contact Section ---- */
.contact a {
    color: #171302;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.contact a:hover {
    color: #fff;
    text-shadow: 0 0 10px #fff;
}
